@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: Bebas Neue, sans-serif;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 3.5rem;
  letter-spacing: 5px;
}

.error-container {
  font-family: 'Nunito', sans-serif;
  color: tomato;
  font-size: 1.25rem;
  text-align: center;
  margin: 35px 10% 50px;
}

.error-container a {
  color: dodgerblue;
  text-decoration: none;
}

/* Loader */
.loader {
  margin-top: 25px;
  text-align: center;
}

/* Image Container */
.image-container {
  margin: 10px 30%;
}

a {
  padding-bottom: 0;
  margin: 0;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

.go-to-top-btn {
  display: none;
  position: fixed;
  right: 0;
  transform: translate(0, -50%);
  bottom: 15%;
  z-index: 99;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #ff7070;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 0.15s;
}

.go-to-top-btn:hover {
  filter: brightness(150%);
}

.go-to-top-btn:disabled {
  cursor: default;
}

/* Media Queries: Large Smartphone */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  .error-container {
    font-size: 1rem;
  }

  .image-container {
    margin: 10px;
  }
}
